body {
  background: #feffff;
}

#head {
  font-family: "Lora", serif;
  font-size: 4em;
  color: #feffff;
  margin-bottom: 1.3em;
  padding-top: 1.3em;
}

.search-box {
  margin: 10px;
}

.search-box .container {
  background: #312c32;
  padding: 0 3% 5%;
  border-radius: 5px;
}

.search-input {
  outline: none;
  border-radius: 5px;
  border: 2px solid #98dafc;
  padding: 10px 1%;
  font-size: 1.6em;
  box-shadow: none;
  width: 100%;
}

.search-input:hover {
  border: 2px solid #daad86;
}

.search-input::placeholder {
  font-style: italic;
  color: #312c32;
}

input {
  padding: 10px;
  color: #312c32;
  text-shadow: 0px 0px 0px #312c32;
}

.button-box {
  margin-top: 1em;
}

.btn-default,
.btn {
  background-color: #312c32;
  color: #feffff;
  border-radius: 5px;
  font-family: "Lora", serif;
  border: 2px solid #98dafc;
  color: #98dafc;
  font-size: 1.3em;
  outline: none;
}

.btn-default:hover {
  border: 2px solid #daad86;
  color: #daad86;
  font-family: "Lora", serif;
  outline: none;
}

.btn-default:active,
.btn:active {
  color: #98dafc;
  outline: none;
}

#results {
  list-style: none;
  margin: 10px;
  padding: 10px 0;
  font-family: "Lora", serif;
}

#results li {
  background-color: #312c32;
  padding: 10px 10px 10px 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px -3px #000807;
}

#results a {
  text-decoration: none;
}

#results li:hover {
  border-left: 0.5em solid #98dafc;
}

.caption {
  color: #98dafc;
  font-size: 2em;
}

.excerpt {
  color: #feffff;
  font-style: italic;
}

@media (max-width: 768px) {
  #head {
    font-size: 3em;
    margin-bottom: 0.7em;
    padding-top: 0.7em;
  }
  .results-box {
    background: #feffff;
    margin: 0;
  }
}
